@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-gray-100: #4B5563;
  --color-gray-200: #1A202C;
  --color-blue-500: #3B82F6;

  --font-sans: "Inter", sans-serif;
}